.articles {
  margin-bottom: 135px;
}

.articles__big-column {
  grid-column: span 9;
}

.articles__small-column {
  grid-column: 10/-1;
}

.article-category {
  font-size: 14px;
  line-height: 17px;
  color: var(--color-accent);
  text-transform: uppercase;
  font-weight: 700;
}

.article-source {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: var(--color-grey);
  text-transform: uppercase;
}

.article-date {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: var(--color-accent);
  text-transform: uppercase;
}